#
# TS 27.010 configuration
#

menu "Motorola TS 27.010 Mux driver over UART for TD-SCDMA modem"

config FEAT_TD_TS27010MUX_UART
        tristate "Motorola TS 27.010 Mux driver over UART for TD-SCDMA modem"
        default n

endmenu
