[project]
	state = active
[access "refs/heads/*"]
	owner = group Administrators
	create = group Motorola OMAP4 Maintainers
	push = +force group Motorola OMAP4 Maintainers
	label-Code-Review = -2..+2 group Motorola OMAP4 Maintainers
	label-Verified = -1..+1 group Motorola OMAP4 Maintainers
	submit = group Motorola OMAP4 Maintainers
[access "refs/tags/*"]
	create = group Motorola OMAP4 Maintainers
	push = +force group Motorola OMAP4 Maintainers
