[project]
[access "refs/heads/*"]
	create = group motorola_omap4
	push = +force group motorola_omap4
	label-Code-Review = -2..+2 group motorola_omap4
	label-Verified = -1..+1 group motorola_omap4
	submit = group motorola_omap4
	forgeCommitter = group motorola_omap4
[access "refs/tags/*"]
	create = group motorola_omap4
	push = +force group motorola_omap4
[access "refs/*"]
	owner = group Administrators
[submit]
	action = rebase if necessary
