config OMAPLFB
        bool "In-kernel omaplfb: interface between display and kernel side PowerVR graphics driver"
        depends on OMAP2_DSS && DSSCOMP
	default y
	help
	  Support for in-kernel omaplfb. This is used by PVR kernel module.

config OMAPLFB_CLONE_VRAM_TO_TILER
        bool "Enable HDMI cloning from vram framebuffer to tiler buffer"
        default n
